<h2>What did ya just have a glass of?</h2>

<%= form_tag glasses_path, method: :post do |f| %>

  <div class="form-group">
    <label for="wine_name">What it was called</label>
    <%= text_field_tag :wine_name, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="wine_name">When you drank it</label>
    <%= date_field_tag :date, '', class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="rating">How good it was</label>
    <%= select_tag "rating", options_for_select(1..5), class: "form-control" %>
  </div>
  <div class="form-group">
    <label for="notes">Stuff you thought</label>
    <%= text_area_tag :notes, '', class: "form-control" %>
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
<% end %>